<div class="row">
    <div class="col-6">
        <h3 class="heat">Heatin' up</h3>
        <ul class="list-group">
            {{#each list}}
                {{#unless smoked}}
                    <li class="list-group-item">
                        <p class = "smokeText">{{location}}</p>
                        <button type="button" class= "btn btn-secondary smokeButton" id="{{id}}">
                            Smoke!
                            <i class="fas fa-fire heat"></i>
                        </button>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-6">
        <h3 id="smoked">Smoked</h3>
        <ul class="list-group">
            {{#each list}}
                {{#if smoked}}
                    <li class="list-group-item">
                        <p class = "deleteText">{{location}}</p>
                        <button type="button" class= "btn btn-dark deleteButton" id="{{id}}">
                            Toss
                            <i class="fas fa-trash"></i>
                        </button>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<script>
$(function(){
    $(".smokeButton").on("click", function(){
        let id = $(this).attr("id");

        $.ajax("/", {
            type: "PUT",
            data: {
                id: id}
        }).then(function(){
            console.log("smoked");
            location.reload();
        });
    });
    $(".deleteButton").on("click", function(){
        let id = $(this).attr("id");

        $.ajax("/", {
            type: "DELETE",
            data: {
                id: id}
        }).then(function(){
            console.log("tossed");
            location.reload();
        });
    });
});

</script>