<div class="row">
    <div class="col-6">
        <h3>Heatin' up</h3>
        {{#each list}}
            {{#if smoked = 0}}
                <li>
                    <p class = "smokeText">{{location}}</p>
                    <button class="smokeButton" id="{{id}}">
                        Smoke!
                    </button>
                </li>
            {{/if}}
        {{/each}}
    </div>
    <div class="col-6">
        <h3>Smoked</h3>
            {{#each list}}
                {{#if smoked = 1}}
                    <li>
                        <p>{{location}}</p>
                        <button class="deleteButton" id="{{id}}">
                            Toss
                        </button>
                    </li>
                {{/if}}
            {{/each}}
    </div>
</div>



{{!-- {{#if}}{{/if}}

{{#unless}} {{/unless}}

    {{> partial}} --}}
<script>
$(function(){
    $(".smokeButton").on("click", function(){
        let id = $(this).attr("id");
        

        $.ajax("/", {
            type: "PUT",
            data: {
                id: id}
        }).then(function(){
            console.log("smoked");
            location.reload();
        });



    });
    $(".deleteButton").on("click", function(){
        let id = $(this).attr("id");
        

        $.ajax("/", {
            type: "DELETE",
            data: {
                id: id}
        }).then(function(){
            console.log("tossed");
            location.reload();
        });



    });
});

</script>